
<!DOCTYPE html>
<html ng-app="app1" ng-init = "person = { fName: 'Martin', lName: 'Pettersson' }; 
 list =[1,2,3]; capitals = [ {city: 'Stockholm', country: 'Sweden'}, {city: 'New York', country: 'USA'}, {city: 'Bruxelles', country: 'Belgium'} ];">
<head>

	<title>TODO MVC</title>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="text/javascript"
		src="js/script1.js"></script>

</head>

<body>
	
	<div ng-controller="ctrl1">
		<span>Values:</span>
		<input type="text" ng-model="first" />
		<input type="text" ng-model="second" />	

		<button ng-click="updateValue()">Sum</button>

		<p> 
			Your first value is {{first}}.
		</p>

		<p> 
			Your second value is {{second}}.
		</p>

		<p> 
			{{person.fName}} {{person.lName}}, you entered {{first}} and {{second}}.
		</p>

		<br><br>
		{{calculation}}

		<ul>
			<li ng-repeat="capital in capitals">
				{{'City: ' + capital.city + ', Country: ' + capital.country}}
			</li>
		</ul>

	</div>

	Write some text in textbox:
	<input type="text" ng-model="sometext" />

	<h1>Hello {{ sometext }}</h1>


	
</body>

</html>